{% extends 'base.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<body>
<!--экспериментирую с передачей аргументов-->
    <form method={{method}}>
        <label for="fname">First name: <sup>*</sup></label><br>
        <input type="text" id="fname" name="first_name" placeholder="Roberto"><br>
        <label for="lname">Last name:<sup>*</sup></label><br>
        <input type="text" id="lname" name="last_name" placeholder="Diloni"><br>
        <label for="age_id">Age:<sup>*</sup></label><br>
        <input type="number" id="age_id" name="age" placeholder="27"><br>
        <label for="ph_num">Phone number:</label><br>
        <input type="text" id="ph_num" name="phone_number" placeholder="10 digits minimum"><br>	<br>
        <input type="submit" value="Search">
<!--        <input type="submit" value="Create">-->
         {% if args %}
                <button type="submit"><a href="{% url 'teachers' %}">Back to list</a></button>
         {% endif %}
    </form>
<!--        <button type="submit"><a href="create/">Create</a></button>-->
    <br>
    <br>

<table cellspacing="5" cellpadding="10" border="0" width="75%">

    {% for teacher in teachers %}
    <tr>
<!--        <td>{{ forloop.counter }}</td>-->
        <td>{{ teacher.teacher_id }}</td>
        <td>{{ teacher.first_name }}</td>
        <td>{{ teacher.last_name }}</td>
        <td>{{ teacher.age }}</td>
        <td>{{ teacher.birthday }}</td>
        <td>{{ teacher.phone_number }}</td>
        <td><a href="update/{{ teacher.pk }}">Edit</a></td>
        <td><a href="delete/{{ teacher.pk }}">Delete</a></td>

        <!-- <br>-->
        </tr>
    {% endfor %}
    </table>

</body>
{% endblock %}