{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %} Update:{{teacher.first_name}} {{teacher.last_name}}{% endblock %}

{% block content %}
       <form method="post">
           {% csrf_token %}
                <div class="col-md-3">
                 {{ form | crispy }}
                 </div>
                <input class="btn btn-outline-success" type="submit" value="Update">
        <a class="btn btn-outline-primary" href="{% url 'teachers' %}">Back to list</a>
    </form>
{% endblock %}