{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}List of students{% endblock %}


{% block content %}
            <form method="get">
                {#{% csrf_token %}#}
                <div class="col-md-3">
                 {{ students_filter.form | crispy }}
                 </div>
                    <div class="mt-2">
                    <input class="btn btn-outline-primary" type="submit" value="Search">
                    {% if students_filter.data %}
                    <a class="btn btn-outline-primary" href="{% url 'students' %}">Back to list</a>
                {% endif%}
                </div>
            </form>
    <br>
    <br>
    <table class="table table-hover table-striped">
<!--        cellspacing="5" cellpadding="10" border="0" width="100%"-->
    <thead class="table-bordered">
        <tr>
            <th style="width: 5%">N</th>
            <th style="width: 25%">First name</th>
            <th style="width: 25%">Last name</th>
            <th style="width: 5%">Age</th>
            <th style="width: 15%">Birthday</th>
            <th><i class="bi bi-telephone-fill"></i></th>
            <th style="width: 5%"><i class="bi bi-pencil-fill"></i></th>
            <th style="width: 5%"><i class="bi bi-trash3-fill"></i></th>        </tr>
    </thead>
    {% for student in students_filter.qs %}
    <tr>
        <td>{{ forloop.counter }}</td>
<!--        <td>{{ student.id }}</td>-->
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{% if student.get_age %}{{ student.get_age }}{% endif %}</td>
        <td>{{ student.birthday }}</td>
        <td>{% if student.phone_number %}{{ student.phone_number }}{% endif %}</td>
        <td><a href="{% url 'update_student' student.pk %}">Edit</a></td>
        <td><a href="{% url 'delete_student' student.pk %}">Delete</a></td>

        <!-- <br>-->
        </tr>
    {% endfor %}
    </table>
{% endblock %}