    <table class="table table-hover table-striped">
    <thead class="table-bordered">
    <tr>
            <th style="width: 5%">N</th>
            <th style="width: 10%">Group</th>
            <th style="width: 15%">Course</th>
            <th style="width: 10%">Date of start</th>
            <th style="width: 10%">Date of end</th>
            <th style="width: 12%">Students num</th>
            <th style="width: 12%">Teachers num</th>
            <th>Headman</th>

<!--            <th>Date of finish</th>-->
            <th style="width: 5%"><i class="bi bi-pencil-fill"></i></th>
            <th style="width: 5%"><i class="bi bi-trash3-fill"></i></th>
    </thead>

    {% for group in list_object %}
    <tr>
        <td>{{ forloop.counter }}</td>
<!--        <td>{{ group.group_id }}</td>-->
        <td>{{ group.name }}</td>
        <td>{{ group.course.name }}</td>
        <td>{{ group.start_date }}</td>
        <td>{% if group.end_date %}{{ group.end_date }}{% endif %}</td>
<!--        <td>{%if group.number_of_students%}{{ group.number_of_students }}{%endif%}</td>-->
        <td align="center">{{ group.get_number_of_students }}</td>
        <td align="center">{{group.get_number_of_teachers}}</td>
        <td>{{ group.headman.first_name }} {{ group.headman.last_name }}</td>
        <td><a href="{% url 'update_group' group.pk %}">Edit</a></td>
        <td><a href="{% url 'delete_group' group.pk %}">Delete</a></td>

        </tr>
    {% endfor %}
    </table>
