{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Update: {{group.name}}-{{group.start_date}} {% endblock %}

{% block content %}
<hr>
<p>You are about to edit <br><span style="font-weight: bold;">
{{group.name}}-{{group.start_date}}</span></p>

<hr>
       <form method="post">
           {% csrf_token %}
                <div class="col-md-3">
                 {{ form | crispy }}
                 </div>
                <input class="btn btn-outline-success" type="submit" value="Update">
        <a class="btn btn-outline-primary" href="{% url 'groups' %}">Back to list</a>
    </form>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Teachers</th>
    </tr>
    </thead>
             {% with list_object=group.teachers.all on_group=False %}
                {% include 'includes/th_list_table.html' %}
            {% endwith %}
</table>
<br>
<table>
    <thead>
    <tr>
        <th>Students</th>
    </tr>
    </thead>
            {% with list_object=group.students.all on_group=False %}
                {% include 'includes/st_list_table.html' %}
            {% endwith %}
</table>
<br>
{% endblock %}
